:root {
    --primary-100: #08564d; /* Letras LogistiClima*/
    --primary-200: #417fc6; /* Texto Ruta, Detalles */
    --accent-100: #169db3;  /* Boton por defecto */
    --accent-200: #0a5f78;  /* Mantener boton */
    --text-100: #222020;    /* Letras */
    --bg-100: #eaf6f8;      /* Fondo*/
    --bg-200: #ffffff;      /* Contenedor texto */
}

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: var(--bg-100);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo {
    width: 60px;
    height: auto;
}

.title-container h1 {
    color: var(--primary-100);
    margin: 0;
    font-size: 20px;
}

.subtitle {
    font-size: 14px;
    color: var(--text-100);
    margin: 0;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.contenido-principal {
    display: flex;
    gap: 20px; /* espacio entre mapa y tabla */
    justify-content: center;
    align-items: flex-start;
}

/* Mapa */
.mapa-container {
    flex: 1;
}

#mapa {
    height: 600px;
    width: 100%;
    border-radius: 15px;
}

/* Tabla y botón */
.tabla-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Contenedor con scroll */
#tabla-scroll {
    max-height: 550px;   /* altura máxima de la tabla visible */
    overflow-y: auto;    /* activa scroll vertical */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Estilos de la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--bg-200);
}

th {
    text-align: left;
    font-size: 14px;
    color: var(--primary-200);
    border-bottom: 2px solid var(--primary-200);
    padding: 6px;
    position: sticky; /* Mantener encabezado fijo al hacer scroll */
    top: 0;
    background: var(--bg-200);
    z-index: 2;
}

td {
    padding: 6px;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
}

/* Estilo del scroll */
#tabla-scroll::-webkit-scrollbar {
    width: 8px;
}

#tabla-scroll::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

#tabla-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* Botón */
button {
    padding: 12px;
    background-color: var(--accent-100);
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: var(--accent-200);
}
