<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>LogistiClima - Iniciar Sesión</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo/estilo_IniciarSesion.css') }}" type="text/css">
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="{{ url_for('static', filename='imagenes/logo.jpg') }}" alt="Logo LogistiClima" class="logo">
            <div class="title-container">
                <h1>LogistiClima</h1>
                <p class="subtitle">Iniciar Sesión</p>
            </div>
        </div>
    </header>

    <main>
        <section class="form-section">
            <form id="registroForm">
                <div class="input-container">
                    <span class="icon">📧</span>
                    <input type="email" id="email" placeholder="Email" required>
                </div>

                <div class="input-container">
                    <span class="icon">🔒</span>
                    <input type="password" id="password" placeholder="Password" required>
                </div>

                <div class="login-button-container">
                    <button type="submit"><b>Iniciar Sesión</b></button>
                </div>

                <div class="create-button-container">
                    <br>
                    <a href="{{ url_for('nueva_cuenta') }}">
                        <button type="button"><b>Crear Cuenta</b></button>
                    </a>
                </div>

                
            </form>
        </section>
    </main>
    
    <script src="{{ url_for('static', filename='js/js_IniciarSesion.js') }}"></script>
</body>
</html>
