# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg

# Entornos virtuales
venv/
env/
.venv

# IDE
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Configuración local
.env
.env.local

# Cache
.pytest_cache/
.coverage
htmlcov/

# Archivos generados
Matriz_Distancias_Temporal.csv
*.tmp

